@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
*{
    box-sizing:border-box;
    margin: 0%;
    padding: 0%;
    text-transform: capitalize;
}
body{
    color: white;
    font-family: "Vollkorn", serif;
}
@media (max-width: 768px) {
    body {
      background-size: contain; /* Adjusts for smaller screens */
    }
  }
  
.background{
    width: 100%;
    height: 100vh;
    background-image: url("/static/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.logo{
    font-size: 2em;
    font-weight: 600;
    flex: 1;
    color: #13203d;
    display: flex;
    align-items: center;
    position: absolute; 
    top: 20px;  
    left: 0%;
    margin-top:25px;  
}
@keyframes movedown{
    0%{
        transform: translateY(-100px);
        visibility: visible;
    }
    100%{
        transform: translateY(0);
        visibility: visible;
    }
}
.logo img{
    width: 200px;
    margin:-4%;
    margin-top:-4%;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    width: 90%;
    padding: 5em 2em 4em 2em;
    margin: auto;
}
@keyframes moveright{
    0%{
        transform: translateX(-100px);
        visibility: visible;
    }
    100%{
        transform: translateX(0);
        visibility: visible;
    }
}
.left h1{
    font-size: 3.5em;
    color: whitesmoke;
    line-height: 1.5;
    animation: moveright 1s linear 1;
}
.left p{
    font-size: 18px;
    line-height: 1.5rem;
    padding: 2% 0 5% 0;
   color: white;
   animation: moveright 1s linear 1;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: zoomin 1s linear 1;
}
@keyframes zoomin{
    0%{
        transform: scale(0.5);
        visibility: visible;
    }
    100%{
        transform: scale(1);
        visibility: visible;
    }
}
.right img{
    width: 1000px;
    max-width: 100%;
    height: auto;
}
.btn{
    text-decoration: none;
    padding: 12px 15px;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-left: 12px;
    border: 2px solid #efff;
    color: #efff;
    /* transition: all 0.5s ease-out;  */
}
.btn1:hover{
    background-color:  rgb(4, 149, 233);
    color: #473829;
    border: 2px solid #473829;
}
.btn2{
    background-color: rgb(42, 57, 192);
}
.btn2:hover{
    background-color:  rgb(4, 149, 233);
    color: #473829;
    border: 2px solid #473829;
}
.main_btn .btn{
    margin-left: 0;
    /* animation: moveright 1s linear 1; */
}
@media only screen and(max-width:99px){
    .left h1{
        font-size: 2.7em;
    }
}

/* section{
    width: 80%;
    margin: 80px auto;
} */
.events{
    width: 80%;
    margin: 70px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color: rgb(73, 73, 126);
}
.line{
    width: 160px;
    height: 5px;
    background: rgb(4, 149, 233);
    margin: 0px auto;
    border-radius: 5px;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col img{
    width: 90%;
}
.row .col1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col1 img{
    width: 98%;
    margin-top: 10%;
}
.events .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color: #484872 ;
    margin: 20px auto;
}
p{
    color: #7c7c7c;
    padding: 0px 40px ;
    font-size:18px;
}
.col img{
    transition: transform .3s ease;
}
.col img:hover{
    transform: scale(1.1);
}
.col1 img{
    transition: transform .3s ease;
}
.col1 img:hover{
    transform: scale(1.1);
}